body{
  background-color: black;
  color: white;
}

.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.nav-item:hover{
  color: red;  
}
.banner{
  height: 600px;
  display: flex;
  align-items: center;

}
.banner::before{
  position: absolute;
  left:0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
}
.banner-info{
  width: 40%;
  color: white;
  margin-left: 30px;
  z-index: 1;
}
.card{
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 170px;

}
.overLay{
  opacity: 0;
  background: rgba(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
}

.card:hover .overLay{
  opacity: 1;
}
.movie-detail-page{
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
.detail-page-picture{
  width: 600px;
}
.movie-detail-description{
  display: flex;
  width: 800px;
  flex-direction: column;
}
.movie-detail-overview{
  display: flex;
  flex-direction: column;
}
.movie-picture{
  padding-right: 3em;
}
.hr_description{
  border-top: 4px double #8c8b8b;

}
.Badge-style{
  font-size: x-large;
  margin-right: 1em;
  margin-bottom: 2em;
}

.budget-badge{
  font-size: large;
  width: wrap;
  margin-bottom: 1em;
  margin-right: 0.3em;
}
.movieDetail_title{
  font-size: 6em;
}
.moviedetail-overview{
  font-size: 1em;
}
.movieReview{
  border: 1px solid;
  margin: 3em 14em 3em 14em;
  padding: 2em 2em 2em 2em;
  
}

.review-author{
  text-decoration: underline;
}
.review-button{
  font-size: xx-large;
}
.related_pic_size{
  width: 25em;
}
.related-movie{
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.modal-content{
  width: auto;
}
.movies-poster{
  height: 450px;
  width: 300px;
  position: relative;
}
.gradient:before {
  content: '';
  background-image: linear-gradient(to right, #0a0909 35%, transparent);
  position: absolute;
  right: 0;
  padding-top: 1em;
  width: 100%;
  height: 100%;

}
.gradient{
  text-align: left;
}
.movies-info{
  position: relative;
  padding: 1em;
}
.movies-title{
  padding-left: 1em;
  font-size: 1.3em;


}
.badge-style{
  padding: 0.4em;
  margin: 0.3em;
}
.movies{
  display: flex;
  justify-content: center;
  margin: 1em;
}
.overflow{
  width: 150px;
  overflow: hidden;
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;

}
.movies-summary{
  display: flex;
  justify-content: flex-start;
  font-family: 'Anton', sans-serif;
}
.movies-summary-title{
  flex-direction: column;

}
.under-18{
  font-family: 'Rubik Distressed', cursive;
  color: red;
}
.sub-info{
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.badge-style1{
  margin: 0.3em;
}
.margin-left{
  margin-left: 0.5em;
}
.movie-release{
  color: lightblue;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.page{
padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: red;
  background-color: black;
}

.disabled{
  cursor: not-allowed;
  
}

.active{
border: 2px solid #000;
  font-weight: bold;
}

.previous{
  
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  list-style: none;
}

.next{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  list-style: none;
}
div > ul {
  display: inline-flex;

}